@tailwind base;
@tailwind components;
@tailwind utilities;

.LazyLoad {
  opacity: 0;
  filter: blur(20px);
  transition: all 1s ease-in-out;
}

.is-visible {
  filter: none;
  opacity: 1;
}

.floating-whatsapp-button {
  width: 45px !important;
  height: 45px !important;
}

.floating-whatsapp-button::after {
  width: 45px !important;
  height: 45px !important;
}